* {
  outline: none;
}

.page-header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;  
  height: 25px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
}

.menu-icon,
.search-icon {
  height: 16px;
  width: 16px;
  display: flex;
  padding: 7px;
  border-radius: 3px;
  margin-right: 10px;
}

.chapter-icon {
  font-size: 0.7rem;
}

.logo {
  font-size: 1.2em;
}

button {
  padding: 5px 10px 6px;
  font-size: 0.7rem;

}

.main {
  margin: 0 auto;
  margin-top: 16px;
  width: 940px;
}

#the-article {
  height: initial;

  display: grid;

  grid-template-columns:  
      [articleOuter-start]            
      20%
      [articleInner-start]
      60%
      [articleInner-end]
      20%
      [articleOuter-end];

  padding: 30px 0;

}

.article-title {
  grid-column: articleInner;
}
