@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

body,
body * {
	margin:          unset;
	box-sizing:      unset;
	padding:         unset;
	font-size:       unset;
	color:           unset;
	text-decoration: unset;
}

@font-face {
	font-family: "Chomsky";
    src: url('../assets/fonts/Chomsky.woff');
}
:root { font: 100px/1.2 "Chomsky", serif; }