a,
button,
.menu-icon,
.search-icon,
.chapter-icon,
.logo {
  cursor: pointer;
}

.page-header {
  border-bottom: 1px solid rgb(202, 202, 202);
  background: #ffffff;
}

.chapter-icon {
  font-family: "Franklin";
  font-weight: bolder;
  letter-spacing: 0.6px;
}

.menu-icon:hover,
.search-icon:hover {
  background: rgb(235, 235, 235);
}

.logo {
  font-family: "Chomsky";
}

.chapter-icon:hover {
  text-decoration: underline;
}

.transform-upper {
  text-transform: uppercase;
}

button {
  font-family: "Franklin Bold", monospace;
  font-weight: 800;
  color: #ffffff;
  background: #567b95;
  border: 1px solid #326891;
  border-radius: 3px;
}

button:hover {
  background: #326891;
}

.article-title h1{
  font-size: 1.8rem;
  font-style: italic;
  font-family: "Imperial";
  color: #121212;
}

.social-media-bar {
  border-top: 1px solid rgb(235, 235, 235);
}

.social-icons .social-round a {
  background: #eeeeee;
  border-radius: 50%;
}