:root {
  --dark: #2f303a;
  --light-black: #26262e;

  --accent: #1762a7;
  --accent-hover: #2180d8;

  --light: #ffffff;
  --light-hover: #adadad;

  --blue: #3856b0;
  --red: #b038a0;
  --purple: #3a38b0;
}

* {
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

a,
button {
  cursor: pointer;
}

.page-header {
  border-bottom: 1px solid rgb(202, 202, 202);
  background: #ffffff;
}

.chapter-icon {
  font-family: "Franklin";
  font-weight: bolder;
  letter-spacing: 1px;
}

.logo {
  font-family: "Chomsky";
}

.transform-upper {
  text-transform: uppercase;
}

button {
  font-family: "Franklin Bold", monospace;
  font-weight: 800;
  color: #ffffff;
  background: #567b95;
  border: 1px solid #326891;
  border-radius: 3px;
}
